/dms
/dms_new
/dms.*
/nohup.out
/Duris.xcodeproj
/build
/gmon.out
/areas/de/src/cscope.out
cscope.out
*.o
*.backup
lib/information/leaderboard
lib/information/hardcore_hall_of_fame
lib/etc/vote.undead
