/dms
/dms_new
/dms.*
/temp_letterfile
/nohup.out
/Duris.xcodeproj
/build
/gmon.out
/areas/de/src/cscope.out
cscope.out
*.o
*.backup
lib/information/leaderboard
lib/information/leaderboardprod
lib/information/hardcore_hall_of_fame
lib/information/hardcore_hall_of_fameprod
lib/information/leaderboardprod
lib/etc/help
lib/etc/vote.undead
lib/etc/vote.miniwipe
lib/ban_sites
Ships/ship_index
arih/
